<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jacobkoger.dota2Application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity android:name="com.jacob.dota2.dota2Application.activities.LoginActivity">
            android:noHistory="true"
        </activity>

        <activity android:name="com.jacob.dota2.dota2Application.activities.MainActivity">

        </activity>
        <activity android:name="com.jacob.dota2.dota2Application.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
